/* Estilos Gerais (majus) */

* {
    margin: 0;
    padding: 0;
    color: white;
}

.variação-logo {
    width: 10%;
    height: 100%;
    object-fit: cover;
}

hr {
    background-color: white;
}

i {
    color: #ac0000;
}

.white-c {
    color: white;
}

/* fim dos estilos gerais */

body {
    color: white;
    background-color: black;
}

/* estilo da navbar */
/* logo */
.img-logo {
    margin-left: 2.5em;
    width: 15%;
    height: 20%;
    object-fit: cover;
}

.navbar-nav .nav-link {
    position: relative;
    right: 25%;
    font-size: 1.2em;
    margin: .5em;

}

.navbar-nav>a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-color: #ac0000;
    position: absolute;
    bottom: 0px;
    left: 0;
    transition: 0.5s ease-in-out;

}

.navbar-nav>a:hover::after {
    width: 100%;
}

/* estilo da seção QUEM SOMOS? */

.q-somos {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffff;
}

.q-somos>h2 {
    font-size: .5em;
}

.q-somos>.logo-v {
    display: flex;
    justify-content: flex-end;
}

.bloco-01>div {
    margin-top: 1.5em;

}

/* missão / valores / visão */

#mvv {
    margin-top: 5em;
}

/* seção dos produtos */

.products {
    margin-bottom: 3em;
}

#products {
    margin-top: 3em;
    margin-bottom: 2em;
}

.img{
    width: 100%;
    margin: 1em;
}

.container .vermais {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.container .vermais .btn {
    background-color: #fff;
    color: #ac0000;
    text-transform: uppercase;
    font-weight: bold;
}

.container .vermais .btn:hover {
    transition: 0.7s;
    background-color: #ac0000;
    color: #fff;
}

@media screen and (max-width: 575px){
    .img{
        width: 93%;
    }
}

/* footer */
#footer {
    height: 200px;
    background-image: url(../imgs/imageF.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    object-fit: cover;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 2em;
    text-align: left;

}

.footer-end {
    transition: 0.5s;
}

.footer-end p:hover {
    color: red;
}